body {
    text-align: center;
    background: linear-gradient(135deg, #e0f2fe, #e8c63d);
    min-height: 100vh;
    margin: 0;
    padding-top: 30px;
    font-family: sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 50px;
}

button {
    font-size: 18px;
    padding: 12px 22px;
    margin: 6px;
    border: none;
    border-radius: 20px;
    background-color: #f59e0b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
input {
    font-size: 18px;
    padding: 10px;
    margin: 5px;
}
.word-card {
    background-color: white;
    width: 320px;
    margin: 30px auto;
    padding: 35px;
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border: 4px solid #60a5fa;
}
@media (max-width: 600px) {
    .word-card  {
        width: 80%;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 40px;
    }

    button {
        font-size: 16px;
        padding: 10px 15px;
    }

    input {
        width: 80%;
        box-sizing: border-box;
    }
}
.answer-button {
    background-color: #3b82f6 !important;
}
.next-button {
    background-color: #3b82f6;
}
.delete-button {
    background-color: #ef4444;
}
.add-button {
    background-color: #22c55e !important;
}
#answer {
    font-size: 28px;
    font-weight: bold;
    color: #f59e0b;
    margin-top: 20px;
}
input {
    border: 3px solid #fbbf24;
    border-radius: 15px;
    outline: none;
    background-color: white;
}

input:focus {
    border-color: #3b82f6;
}
.add-title {
    font-size: 24px;
    color: #f59e0b;
    margin-top: 30px;
}
#levelSelect {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    border: 3px solid #60a5fa;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;

}
body {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.word-card {
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0;
}
/* スマホ用の調整 */
@media (max-width: 600px) {

    body {
        padding: 15px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 18px;
    }

    .word-card {
        width: 100%;
        padding: 25px 10px;
        box-sizing: border-box;
        margin: 20px 0;
    }

    h2 {
        font-size: 38px;
    }

    button {
        width: 90%;
        font-size: 17px;
        padding: 13px;
        margin: 6px auto;
        display: block;
    }

    input,
    select {
        width: 90%;
        box-sizing: border-box;
        font-size: 17px;
        padding: 12px;
        margin: 6px auto;
        display: block;
    }
}